<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="desplegarMenu()">
        <ion-icon slot="start" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Leer Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-item color="warning">
    <ion-label>Es un nuevo dia!</ion-label>
  </ion-item>
  <form>
    <ion-item line="full">
      <ion-label position="floating">Nombre Asignatura</ion-label>
      <ion-input type="text" name="modulo_seccion" [(ngModel)]="nuevaClase.nom_asig" required></ion-input>
    </ion-item>
    <ion-item line="full">
      <ion-label position="floating">Sección / Modulo</ion-label>
      <ion-input type="text" name="modulo_seccion" [(ngModel)]="nuevaClase.modulo_seccion" required></ion-input>
    </ion-item>
  </form>
  <ion-button
          color="warning" 
          expand="block" 
          class="ion-margin" 
          (click)="generaScan()">
          Generate QR Code  
  </ion-button>
  <ion-card>
    <ion-card-content>
      <qrcode
        [qrdata]="qrCodeString"
        [width]="312"
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button color="dark" expand="full" (click)="MensajeListo('bottom')">
    Escanear
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-icon slot="primary" name="logo-instagram"></ion-icon>
    <ion-icon slot="secondary" name="globe"></ion-icon>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>